.texts{
    color:rgb(240, 240, 240);
    font-family:HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
.inputs{
    font-family:HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
.title{
    color:rgb(255, 255, 255);
    font-family:HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}